.m-page-paging{
    height: 56px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #E9EBEE;
}
.m-page-paging .m-page-left{
    position: absolute;
    left: 0px;
}
.m-page-paging .m-page-right{
    position: absolute;
    right: 0px;
   

}
.m-page-paging  button{
    color: #333;
    border: none;
    height: 32px;
    border-radius: 4px;
    border: none;
    text-align: center;
    margin-left: 5px;
    background-color:unset ;
}
.m-page-paging button:hover{
    background-color:#fff;
    color: #333;
}
.m-page-paging .m-page-selected{
    border: 1px solid #000;
    background-color: #019160;
    color: #fff;
}
.m-page-grid{
    position: relative;
}
.m-page-grid .m-page-paging{
    position: absolute;
    bottom: 0;
   
 }
 .m-page-paging .m-page-right{
    display: flex;
    align-items: center;
 }
 .m-page-paging .m-page-right .m-number{
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
 } 
 .m-page-paging label{
    margin-left: 12px;
    margin-right: 12px;
 }


